<%# コメントが保存済みか %>
<% if @comment.persisted? %>
  <%# フラッシュメッセージを表示 %>
  <%= turbo_stream.update "flash-container", partial: "shared/flash_messages", locals: { flash: flash } %>

  <%# 「まだコメントがありません」を削除（要素がなければ何もしない） %>
  <%= turbo_stream.remove "no-comments-message" %>

  <%# 成功時：コメントを追加 %>
  <%= turbo_stream.append "comments_list" do %>
    <%= render "groups/comments/comment", comment: @comment, current_membership: @group_membership %>
  <% end %>
  <%# フォームをクリア %>
  <%= turbo_stream.replace "comment_form" do %>
    <div id="comment_form" class="pt-2">
      <%= render "groups/comments/form", card: @card, comment: Comment.new %>
    </div>
  <% end %>
<% else %>
  <%# エラー時：フォームをエラー付きで置き換え %>
  <%= turbo_stream.replace "comment_form" do %>
    <div id="comment_form" class="pt-2">
      <%= render "groups/comments/form", card: @card, comment: @comment %>
    </div>
  <% end %>
<% end %>
