<div class="relative" data-controller="dropdown">
  <button
    class="inline-flex items-center justify-center w-8 h-8 rounded hover:bg-gray-100"
    data-action="click->dropdown#toggle"
  >
    <%= render "shared/icon/menu_icon_kebab"%>
  </button>

  <div
    class="absolute right-0 mt-1 bg-white border border-border rounded-lg shadow-lg z-10 hidden min-w-max"
    data-dropdown-target="menu"
  >
    <% if @card.group_card? %>
      <%= link_to edit_group_spot_path(@spot), class: "flex items-center gap-3 px-6 py-4 hover:bg-gray-50 text-text no-underline", data: { turbo: false, action: "click->dropdown#close" } do %>
        <%= render "shared/icon/form_icon_edit" %>
        <span><%= t('cards.form.edit') %></span>
      <% end %>
      <%= button_to group_spot_path(@spot), method: :delete, form: { class: "contents" }, data: { turbo_confirm: t('cards.form.confirm_delete'), turbo_frame: "_top" }, class: "flex items-center gap-3 px-6 py-4 hover:bg-gray-50 text-text no-underline w-full text-left" do %>
        <%= render "shared/icon/form_icon_delete" %>
        <span><%= t('cards.form.delete') %></span>
      <% end %>
    <% else %>
      <%= link_to edit_user_spot_path(@spot), class: "flex items-center gap-3 px-6 py-4 hover:bg-gray-50 text-text no-underline", data: { turbo: false, action: "click->dropdown#close" } do %>
        <%= render "shared/icon/form_icon_edit" %>
        <span><%= t('cards.form.edit') %></span>
      <% end %>
      <%= button_to user_spot_path(@spot), method: :delete, form: { class: "contents" }, data: { turbo_confirm: t('cards.form.confirm_delete'), turbo_frame: "_top" }, class: "flex items-center gap-3 px-6 py-4 hover:bg-gray-50 text-text no-underline w-full text-left" do %>
        <%= render "shared/icon/form_icon_delete" %>
        <span><%= t('cards.form.delete') %></span>
      <% end %>
    <% end %>
  </div>
</div>
