<div>
  <% categories.each do |category| %>
    <div class="mb-4">
      <div class="flex items-center gap-2">
        <% if category.icon_partial %>
          <div class="w-5 h-5 <%= category.text_color_class %>">
            <%= render category.icon_partial %>
          </div>
        <% end %>
        <div class="text-lg font-bold <%= category.text_color_class %>">
          <%= category.name %>
        </div>
      </div>
      <div class="ml-5 mb-2" id="category_<%= category.id %>_spots">
        <% spots.each do |spot| %>
          <% if spot.category_id == category.id %>
            <%= render "spots/spot", spot: spot %>
          <% end %>
        <% end %>
      </div>
      <hr class="border-t border-gray-300 mt-4" />
    </div>
  <% end %>

</div>
