<div id="like_area_<%= card.id %>" class="flex gap-1 items-center mr-1">
  <%# メンバーっシップの取得（パーシャルに渡されたlocal_assignsかturbostreamならヘルパーメソッドで自ら取得する %>
  <% current_membership = local_assigns[:current_membership] || current_group_membership_for(card.group.id) %>

  <% if card.liked_by?(current_membership) %>
    <%= button_to group_card_likes_path(card.group, card), method: :delete, title: t("likes.remove"), class: "flex items-center p-0 bg-transparent border-0 cursor-pointer hover:opacity-70", form: { onclick: "event.stopPropagation();" } do %>
      <%= render IconComponent.new(name: "card_liked_icon", size: 5, color: "text-[#fe6767]") %>

    <% end %>
  <% else %>
    <%= button_to group_card_likes_path(card.group, card), method: :post, title: t("likes.add"), class: "flex items-center p-0 bg-transparent border-0 cursor-pointer hover:opacity-70", form: { onclick: "event.stopPropagation();" } do %>
      <%= render IconComponent.new(name: "card_unliked_icon", size: 5, color: "text-text-light") %>

    <% end %>
  <% end %>
  <p class="text-sm"><%= card.likes.count %></p>
</div>
