<%= link_to group_path(group), id: dom_id(group), class: "block hover:shadow-lg transition-shadow duration-300" do %>
  <div class="bg-white rounded-lg shadow p-4">
    <%# グループ名 %>
    <h2 class="text-lg font-bold text-text mb-3 text-left"><%= group.name %></h2>

    <%# メンバー数 %>
    <div class="flex items-center gap-2 mb-2">
      <span class="text-text-light text-sm">メンバー : </span>
      <span class="text-text-light text-sm"><%= group.group_memberships.count %>人</span>
    </div>

    <%# しおり期間 %>
    <div class="flex items-center gap-2 mb-2">
      <span class="text-text-light text-sm">日程 : </span>
      <% if group.schedule.present? %>
        <% if group.schedule.formatted_date_range.present? %>
          <span class="text-text-light text-sm">
            <%= group.schedule.formatted_date_range %>
          </span>
        <% end %>
      <% else %>
        <span class="text-text-light text-sm">（しおりの作成が必要です）</span>
      <% end %>
    </div>

    <%# 作成日 %>
    <div class="flex items-center gap-2 text-sm">
      <span class="text-gray-500">グループ作成日 : </span>
      <span class="text-gray-500"><%= group.created_at.strftime("%Y/%m/%d") %></span>
    </div>
  </div>
<% end %>
