<% if user_signed_in? %>
  <footer class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-300 z-40">
    <nav class="flex justify-around items-center h-16">
      <%= link_to cards_path, class: "flex flex-col items-center justify-center w-1/4 h-full text-main hover:opacity-70 transition-opacity" do %>
        <%= render "shared/icon/footer_icon_card" %>
        <span class="text-xs text-primary font-bold">カード</span>
      <% end %>

      <%= link_to groups_path, class: "flex flex-col items-center justify-center w-1/4 h-full text-main hover:opacity-70 transition-opacity" do %>
        <%= render "shared/icon/footer_icon_group" %>
        <span class="text-xs text-primary font-bold">グループ</span>
      <% end %>

      <%= link_to "#", class: "flex flex-col items-center justify-center w-1/4 h-full text-main hover:opacity-70 transition-opacity" do %>
        <%= render "shared/icon/footer_icon_schedule" %>
        <span class="text-xs text-primary font-bold">しおり</span>
      <% end %>

      <%= link_to "#", class: "flex flex-col items-center justify-center w-1/4 h-full text-main hover:opacity-70 transition-opacity" do %>
        <%= render "shared/icon/footer_icon_backpack" %>
        <span class="text-xs text-primary font-bold">もちもの</span>
      <% end %>
    </nav>
  </footer>
  <%# ページ最下部がfooterで隠れないように %>
  <div class="h-16"></div>
<% end %>
