<%= link_to group_schedule_schedule_spot_path(schedule_spot.schedule.schedulable, schedule_spot) do %>
  <div class="bg-white rounded-lg shadow p-2 mb-2 border-l-4 border-secondary">

    <!-- 時間帯 -->
    <% if schedule_spot.start_time.present? || schedule_spot.end_time.present? %>
      <p class="text-sm text-text-light">
        <% if schedule_spot.start_time.present? && schedule_spot.end_time.present? %>
          <%= schedule_spot.start_time.strftime("%H:%M") %> ~ <%= schedule_spot.end_time.strftime("%H:%M") %>
        <% elsif schedule_spot.start_time.present? %>
          <%= schedule_spot.start_time.strftime("%H:%M") %>から
        <% elsif schedule_spot.end_time.present? %>
          <%= schedule_spot.end_time.strftime("%H:%M") %>まで
        <% end %>
      </p>
    <% end %>
    <!-- スポット名 -->
    <h3 class="text-lg font-bold text-text"><%= schedule_spot.display_name %></h3>
  </div>
<% end %>
