<div class="flex gap-3 items-stretch mb-2">
  <%# 並び替えボタン %>
  <div class="flex gap-2 justify-center items-center w-16">
    <% if schedule_spot.first? %>
      <%# 位置をそろえるため透明の箱を設置 %>
      <div class="text-base px-2 py-1 bg-gray-200 rounded hover:bg-gray-300 flex items-center justify-center opacity-0">▲</div>
    <% else %>
      <%= button_to move_higher_group_schedule_schedule_spot_path(schedule_spot.schedule.schedulable, schedule_spot),
          method: :patch,
          class: "text-base text-[#ababab] px-2 py-1 bg-gray-100 rounded hover:bg-gray-300 flex items-center justify-center" do %>
        ▲
      <% end %>
    <% end %>

    <% if schedule_spot.last? %>
      <%# 位置をそろえるため透明の箱を設置 %>
      <div class="text-base px-2 py-1 bg-gray-200 rounded hover:bg-gray-300 flex items-center justify-center opacity-0">▼</div>
    <% else %>
      <%= button_to move_lower_group_schedule_schedule_spot_path(schedule_spot.schedule.schedulable, schedule_spot),
          method: :patch,
          class: "text-base text-[#ababab] px-2 py-1 bg-gray-100 rounded hover:bg-gray-300 flex items-center justify-center" do %>
        ▼
      <% end %>
    <% end %>
  </div>

  <%# スポット情報 %>
  <%= link_to group_schedule_schedule_spot_path(schedule_spot.schedule.schedulable, schedule_spot), class: "flex-1" do %>
    <div class="bg-white rounded-lg shadow p-2 border-l-4 border-secondary">
      <%# 時間帯 %>
      <% if schedule_spot.start_time.present? || schedule_spot.end_time.present? %>
        <p class="text-sm text-text-light">
          <% if schedule_spot.start_time.present? && schedule_spot.end_time.present? %>
            <%= schedule_spot.start_time.strftime("%H:%M") %> ~ <%= schedule_spot.end_time.strftime("%H:%M") %>
          <% elsif schedule_spot.start_time.present? %>
            <%= schedule_spot.start_time.strftime("%H:%M") %>から
          <% elsif schedule_spot.end_time.present? %>
            <%= schedule_spot.end_time.strftime("%H:%M") %>まで
          <% end %>
        </p>
      <% end %>
      <%# スポット名 %>
      <h3 class="text-lg font-bold text-text"><%= schedule_spot.display_name %></h3>
    </div>
  <% end %>
</div>
