<div class="min-h-screen bg-main-bg">
  <main class="flex flex-col items-center justify-center px-8 py-12">
    <%# <div class="w-full max-w-md bg-white rounded-lg shadow-md p-8"> %>
    <div class="w-full max-w-md">
      <h2 class="text-xl font-bold text-text text-center mb-8"><%= t('.title') %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%# メールアドレス %>
        <div class="mb-6">
          <%= f.label :email, t('.email'), class: "block text-sm font-medium text-text mb-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: "form-text-field" %>
        </div>

        <%# パスワード %>
        <div class="mb-6">
          <%= f.label :password, t('.password'), class: "block text-sm font-medium text-text mb-2" %>
          <%= f.password_field :password, autocomplete: "current-password",
              class: "form-text-field" %>
        </div>

        <%# ログイン状態を保持 %>
        <% if devise_mapping.rememberable? %>
          <div class="mb-6 flex items-center">
            <%= f.check_box :remember_me, class: "w-4 h-4 text-text border-gray-300 rounded focus:ring-primary" %>
            <%= f.label :remember_me, t('.remember_me'), class: "ml-2 text-sm text-text" %>
          </div>
        <% end %>

        <%# ログインボタン %>
        <div class="mt-10 mb-8 text-center">
          <%= f.submit t('.sign_in'), class: "btn-main" %>
        </div>
      <% end %>

      <%# パスワード忘れリンク %>
      <div class="mb-8 text-center text-text text-sm">
        <%= t('.forgot_password') %><%= link_to t('.forgot_password_link'), new_password_path(resource_name), class: "text-secondary font-bold underline hover:opacity-80" %>
      </div>

      <%# 区切り線と「または」 %>
      <div class="flex items-center mb-8">
        <div class="flex-1 border-t border-gray-300"></div>
        <div class="px-4 text-sm text-gray-500"><%= t('.or') %></div>
        <div class="flex-1 border-t border-gray-300"></div>
      </div>

      <%# Googleログインボタン %>
      <div class="mb-16">
        <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "w-full md:w-1/2 md:mx-auto flex items-center justify-center gap-3 btn-sub" do %>
          <%= render IconComponent.new(name: "google_icon", size: 5, color: "text-text-light") %>
          <%= t('.google_login') %>
        <% end %>
      </div>

            <%# 新規登録リンク %>
      <div class="text-center text-text">
        <%= t('.sign_up') %><%= link_to t('.sign_up_link'), new_registration_path(resource_name), class: "text-secondary font-bold underline hover:opacity-80" %>
      </div>
    </div>
  </main>
</div>
