<%# モデルでしおりが個人かグループを判定してパスを渡してくる %>
<%= link_to schedule.show_path, class: "block" do %>
  <div class="bg-white hover:bg-[#fbfbfb] rounded-lg shadow p-6 transition-shadow cursor-pointer">
    <div class="flex flex-col gap-3">
      <%# しおり名 %>
      <h2 class="text-lg font-bold text-text"><%= schedule.name %></h2>

      <%# 日付 %>
      <% if schedule.formatted_date_range.present? %>
        <div class="flex items-center text-text-light text-sm">
          <%= render "shared/icon/schedule_icon_date" %>
          <span><%= schedule.formatted_date_range %></span>
        </div>
      <% else %>
          <span class="text-text-light text-sm"><%= t('users.schedules.no_date_set') %></span>
      <% end %>

      <%# グループしおりの場合、グループ名と人数を表示 %>
      <% if schedule.schedule_type == :group %>
        <div class="flex items-center justify-between">
          <span class="text-sm text-text-light"><%= schedule.schedulable.name %></span>
          <div class="flex items-center gap-1">
            <%= render "shared/icon/schedule_icon_member" %>
            <span class="text-sm text-text-light"><%= schedule.schedulable.group_memberships.size %>人</span>
          </div>
        </div>
      <% else %>
        <span class="text-sm text-gray-400"><%= t('users.schedules.not_group') %></span>
      <% end %>
    </div>
  </div>
<% end %>
