<% content_for(:title, t('.title')) %>

<%= turbo_frame_tag "schedule-create-modal", data: { controller: "modal" } %>

<main class="flex flex-col items-center justify-center px-8 py-12">
  <h1 class="text-2xl text-text font-bold mb-8"><%= t('users.schedules.index.title') %></h1>

  <%# FAB ボタン %>
  <div class="fixed bottom-22 right-6 z-50" data-controller="modal">
    <%= link_to new_schedule_path, data: { turbo_frame: "schedule-create-modal", action: "click->modal#setGroupId", modal_target: "fab" },
                class: "group bg-primary hover:opacity-80 text-white w-14 h-14 rounded-full shadow-lg hover:shadow-xl duration-300 flex items-center justify-center relative" do %>
      <%# +アイコン %>
      <span class="block w-6 h-[3px] bg-text-light rounded absolute transition-all duration-300"></span>
      <span class="block w-6 h-[3px] bg-text-light rounded absolute rotate-90 transition-all duration-300"></span>
    <% end %>
  </div>

  <div class="w-full max-w-2xl">
    <% if @schedules.any? %>
      <div id="schedules_list" class="w-full space-y-4">
        <%= render @schedules %>
      </div>
    <% else %>
      <p class="text-gray-500 text-center mt-8"><%= t('users.schedules.index.no_schedules') %></p>
    <% end %>
  </div>
</main>
