<% if @saved_item.present? %>
  <%# 新規アイテムをリストに追加 %>
  <%= turbo_stream.append "items-list" do %>
    <%= render "shared/items/item", item: @saved_item, item_delete_path: group_schedule_item_list_item_path(@group, @item_list, @saved_item) %>
  <% end %>

  <%# 空状態メッセージを削除（最初のアイテム追加時） %>
  <%= turbo_stream.remove "empty-state" %>

  <%# フォームをリセット&非表示化 %>
  <%= turbo_stream.replace "item-form" do %>
    <div id="item-form" class="hidden mb-6" data-item-list-form-target="form">
      <%= render "shared/item_lists/item_form", item_list: @item_list, item: @item, form_url: group_schedule_item_list_items_path(@group), input_class: "flex-1" %>
    </div>
  <% end %>
<% else %>
  <%# エラー時はフォームを表示してエラーメッセージを表示 %>
  <%= turbo_stream.replace "item-form" do %>
    <div id="item-form" class="mb-6" data-item-list-form-target="form">
      <%= render "shared/item_lists/item_form", item_list: @item_list, item: @item, form_url: group_schedule_item_list_items_path(@group), input_class: "flex-1" %>
    </div>
  <% end %>
<% end %>
