<p><%= t('.hello', email: @resource.email) %></p>

<p><%= t('.greet') %></p>
<p><%= t('.message') %></p>

<p><%= link_to t('.link_text'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.password_won_t_change') %></p>
<p><%= t('.ignore_notice') %></p>
