<div class="w-full max-w-2xl">
  <% if schedule.present? %>
    <%# しおり名 %>
    <div class="flex items-start justify-between mb-4 gap-1">
      <h1 class="text-xl text-text font-bold"><%= schedule.name %></h1>
      <%= render partial: "groups/schedules/kebab_menu", locals: { group: group, schedule: schedule } %>
    </div>

    <%# グループ名 %>
    <p class="text-text mb-2"><%= t('schedules.show.group_name') %>：<%= group.name %></p>

    <%# スケジュール日程 %>
    <div class="mb-2">
      <p class="text-text">
        <span class=""><%= t('schedules.show.schedule_dates') %>：</span>
        <span class=""><%= schedule.formatted_date_range %></span>
      </p>
    </div>

    <%# スポット %>
    <div class="mt-8">
      <div class="flex items-center justify-between gap-3 mb-8">
        <%= link_to t('groups.schedules.show.back_to_group'), group_path(@group), class: "btn-sub text-center px-4" %>
        <div class="flex gap-3">
          <%= link_to group_expenses_path(group), class: "btn-main p-1 w-auto inline-flex items-center justify-center" do %>
            <div class="size-8">
              <%= render "shared/icon/expense_icon", icon_class: "text-text-light" %>
            </div>
          <% end %>
          <%= link_to group_schedule_item_list_path(group), class: "btn-main p-1 w-auto inline-flex items-center justify-center" do %>
            <div class="size-8">
              <%= render "shared/icon/footer_icon_backpack", icon_class: "text-text-light" %>
            </div>
          <% end %>
        </div>
      </div>

      <% (1..schedule.days).each do |day| %>
        <%# 日目の見出し %>
        <% formatted_date = schedule.formatted_date_for_day(day) %>
        <h3 class="text-lg font-bold text-gray-700 mt-4 mb-2">
          <% if formatted_date %>
            <%= formatted_date %>（<%= day %><%= t('groups.schedules.show.day_label') %>）
          <% else %>
            <%= day %><%= t('groups.schedules.show.day_label') %>
          <% end %>
        </h3>
        <div id="sortable-day-list-<%= day %>" class="sortable-day-list space-y-2" data-day-number="<%= day %>" data-schedule-id="<%= schedule.hashid %>">
          <% day_spots = schedule.schedule_spots.where(day_number: day).order(:global_position) %>
          <% if day_spots.any? %>
            <% day_spots.each do |schedule_spot| %>
              <div class="sortable-item" data-spot-id="<%= schedule_spot.hashid %>">
                <%= render 'groups/schedule_spots/schedule_spot', schedule_spot: schedule_spot %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-text text-center mt-8"><%= t('activerecord.models.schedule') %><%= t('schedules.show.no_schedule_message') %></p>
  <% end %>


  <%# メモ %>
  <% if schedule.memo.present? %>
    <h2 class="mt-10"><%= t('schedules.show.memo') %></h2>
    <div class="mt-2 p-4 bg-white rounded">
      <p class="text-text"><%= schedule.memo %></p>
    </div>
  <% end %>
</div>
