<% content_for(:title, @schedule.name) %>
<% breadcrumb :group_schedule, @group %>

<%= turbo_frame_tag "spot-create-modal", data: { controller: "modal" } %>

<%# stimulusからリクエストを投げるために必要なidを取得するときにハッシュ化されている必要があるのでhashidを使う %>
<main id="main" class="flex flex-col items-center justify-center px-4 py-6 mb-12" data-controller="sortable" data-group-id="<%= @group.hashid %>" data-schedule-id="<%= @schedule.hashid %>">
  <%= render partial: "groups/schedules/show", locals: { group: @group, schedule: @schedule } %>
</main>

<%# スポット追加FAB %>
<div class="fixed bottom-22 right-4 md:right-6 lg:left-[calc(50%+412px)] lg:right-auto z-50" data-controller="modal">
  <%= link_to new_group_schedule_schedule_spot_path(@group),
              data: { turbo_frame: "spot-create-modal" },
              title: t('cards.add_spot'),
              class: "group bg-primary hover:opacity-80 text-text-light w-14 h-14 lg:w-18 lg:h-18 rounded-full shadow-lg hover:shadow-xl duration-300 flex items-center justify-center relative" do %>
    <%= render IconComponent.new(name: "add_spot_icon", size: 8, breakpoints: { lg: 10 }, color: "text-text-light") %>
  <% end %>
</div>
