<%# フラッシュメッセージを表示 %>
<%= turbo_stream.update "flash-container", partial: "shared/flash_messages", locals: { flash: flash } %>

<%# スポット作成モーダルを閉じる %>
<%= turbo_stream.update "spot-create-modal", "" %>

<%# 新しいスポットを該当日のリストに追加（Sortableインスタンスを保持） %>
<%= turbo_stream.append "sortable-day-list-#{@schedule_spot.day_number}" do %>
  <div class="sortable-item" data-spot-id="<%= @schedule_spot.hashid %>">
    <%= render "shared/schedules/schedule_spot", schedule_spot: @schedule_spot, scope: :user %>
  </div>
<% end %>
