<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# webアプリがモバイル上でフルスクリーンで動作することを示すメタタグ（旧） %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%# 新 %>
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%# Google Maps API - ページ全体で1回だけ読み込む（個別のページに書くと重複してコンソールに警告がでる） %>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&libraries=places&loading=async">
    </script>
  </head>

  <body data-controller="hamburger turbo" class="bg-main-bg">
    <div class="max-w-[480px] mx-auto">
      <%= render "shared/header" %>

      <div class="relative min-h-screen bg-main-bg overflow-hidden">
          <div class="px-4 pt-4 pb-2 text-sm text-text-light">
            <%= breadcrumbs separator: " > " %>
          </div>
          <%= yield %>
        <%= render "shared/hamburger_menu" %>
        <div id="flash-container">
          <%= render "shared/flash_messages", flash: flash %>
        </div>
      </div>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
