<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_TRACKING_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['GA_TRACKING_ID'] %>');
      </script>
    <% end %>

    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# webアプリがモバイル上でフルスクリーンで動作することを示すメタタグ（旧） %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%# 新 %>
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <!-- OGPメタタグ -->
    <meta property="og:title" content="<%= content_for(:og_title) || 'RakuCi' %>">
    <meta property="og:type" content="<%= content_for(:og_type) || 'website' %>">
    <meta property="og:url" content="<%= content_for(:og_url) || request.original_url %>">
    <meta property="og:image" content="<%= content_for(:og_image) || "#{request.base_url}/rakuci_ogp.png" %>">
    <meta property="og:description" content="<%= content_for(:og_description) || '旅行の計画から終了までを管理できるアプリです' %>">
    <meta property="og:site_name" content="RakuCi">

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">

    <%# favicon %>
    <link rel="icon" href="/rakuci_favicon.png" type="image/png">
    <link rel="icon" href="/rakuci_favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/rakuci_favicon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%# Google Maps API - ページ全体で1回だけ読み込む（個別のページに書くと重複してコンソールに警告がでる） %>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API_KEY %>&libraries=places&loading=async">
    </script>
  </head>

  <body data-controller="hamburger turbo" class="bg-main-bg">
    <div class="max-w-[480px] mx-auto">
      <%= render "shared/header" %>

      <div class="relative min-h-screen bg-main-bg overflow-hidden">
          <% if show_breadcrumbs? %>
            <div class="md:max-w-3xl lg:max-w-4xl md:mx-auto px-4 md:px-6 lg:px-8 pt-4 md:pt-5 lg:pt-6 pb-2 md:pb-3 lg:pb-4 text-sm md:text-base text-text-light">
          <%= breadcrumbs separator: " ／ " %>
            </div>
          <% end %>
          <%= yield %>
        <%= render "shared/hamburger_menu" %>
        <div id="flash-container">
          <%= render "shared/flash_messages", flash: flash %>
        </div>
      </div>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
